## Practice Data Wrangling

![](https://iili.io/3S2kRyu.png)

## Pandas


Pandas is a Python library extensively used for data analysis and manipulation. It provides data structures like DataFrames, which are similar to tables, and Series, which are like lists or columns in a table. These structures allow for efficient handling and processing of structured data. Pandas is built on top of NumPy and integrates well with other scientific computing libraries. It simplifies tasks such as data cleaning, transformation, and analysis, making it a fundamental tool for data scientists and analysts.

### Installing and Importing Pandas

Installing Pandas
```
pip install pandas
```

In [14]:
!pip install pandas

Requirement already satisfied: pandas in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

importing pandas

In [15]:
## pd is widely used alias for pandas
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

### Creating Series and Pandas Data Frame

#### 1. Creating Series
 A Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a SQL table. The labels for the Series are collectively known as the index. A Series can be created from a variety of data types, including lists, dictionaries, and NumPy arrays.

In [16]:
### Ex-1-Task-1

s = None 
a = [1, 2, 3, 4, 5, 6]
# Task: create a series using list 
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [17]:
### Ex-1-Task-2
a = {
    'a': 80,
    'b': 90,
    'c': 100
}
s = None 
## Task: Create a series using dictionary

### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION
s

a     80
b     90
c    100
dtype: int64

In [18]:
### Ex-1-Task-3
a = [1, 2, 3, 4, 5, 6]
a = np.array(a)
s = None
## Creating a series using numpy array
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [19]:
### Ex-1-Task-4
population = {
    'Nepal': 30000000,
    'India': 1463865525,
    'Pakistan':255219554,
    'China': 1416096094
}
s = None
## Create a series with name 'population' and dtype='int64' 
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(population, name='population', dtype='int64')
### END SOLUTION
s

Nepal         30000000
India       1463865525
Pakistan     255219554
China       1416096094
Name: population, dtype: int64

#### 2. Creating DataFrame

In [20]:
### Ex-2-Task-1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = None 
# Creating Data Frame from Python List
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(a, columns=['Numbers'])
### END SOLUTION
df

   Numbers
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10

In [21]:
### Ex-2-Task-2
my_list = [['A', 1], ['B', 2], ['C', 3], ['D', 4]]
# Creating Data Frame from List of List
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(my_list, columns=['Letter', 'Number'])
### END SOLUTION
df

  Letter  Number
0      A       1
1      B       2
2      C       3
3      D       4

In [23]:
### Ex-2-Task-3
my_data = {
    'country': ['Nepal', 'India', 'China'],
    'Population': [30000000, 1463865525, 1416096094]
}
df = None
# Creating Data Frame using Python Dictionary
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(my_data)
### END SOLUTION
df

  country  Population
0   Nepal    30000000
1   India  1463865525
2   China  1416096094

## Data Loading and Inspection

### Reading Data
A simple way to store big data is to use CSV files (comma Seperated files) or Parquet Files. 
- df_sales --> computed_insight_success_of_active_sellers.csv'
- df_product --> summer-products-with-rating-and-performance_2020-08.csv

In [71]:
### Ex-3-Task-1
df_sales = None
df_product = None

# reading CSV file
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales = pd.read_csv('computed_insight_success_of_active_sellers.csv')
df_product = pd.read_csv('summer-products-with-rating-and-performance_2020-08.csv')
### END SOLUTION

FileNotFoundError: [Errno 2] No such file or directory: 'computed_insight_success_of_active_sellers.csv'

### Basic Inspection

In [25]:
### Ex-3-Task-2
head_df = None 
tail_df = None 
desribe_num_df = None
desribe_cate_df = None
# check the first 10 records of the sales dataframe 
# check the last 10 records of the product dataframe
## Check the description of the numerical and categorical columns of prodcut dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
head_df = df_sales.head(10)
tail_df = df_product.tail(10)

desribe_num_df = df_product.describe()
desribe_cate_df = df_product.describe(include=['object'])
### END SOLUTION

In [26]:
### Ex-3-Task-3

# set merchant id as the index of the sales dataframe and check index
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales.set_index('merchantid', inplace=True)
df_sales.index
### END SOLUTION

Index(['5357bcf2bb72c5504882e889', '5708773c3c02161b3f8c7900',
       '5417aada4ad3ab27e954b76c', '570f3a713a698c14278bb51e',
       '53082ea15aefb07dfe1f2a4f', '53f2beb39020ee03566d6e18',
       '5926c5ace8ff5525241b368d', '5860c757b1e41d4d67d183e8',
       '52bd3ddb34067e4620a4c62d', '5a7b23a69bda4e3d375e7b3f',
       ...
       '574d559cb06e205d099d9107', '5db248327c0d0800c24fc084',
       '54365c349719cd57af2b449b', '581c54c4dd99164b808ca531',
       '564d8f2f3a698c01d97fbb81', '567bad8582c35f28103e5813',
       '5b24edf0d1c360301099e9c6', '5d417e7070327a2743021677',
       '5add589edb5f1f32114d07df', '5d4b8931933fb13f8a1fe232'],
      dtype='object', name='merchantid', length=958)

In [27]:
### Ex-3-Task-4
sorted_df = None
## Sort the sales dataframe by rating in Ascending Order, if two records have same rating then sort in descending order by total unit sold
### BEGIN SOLUTION 
# YOUR CODE HERE
sorted_df = df_sales.sort_values(by=['rating', 'totalunitssold'], ascending=[True, False])
### END SOLUTION

sorted_df.head(10)  # Displaying the first 10 records of the sorted dataframe

,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
merchantid,,,,,,,,,,,,
5e63469b2fdc774466e15dd5,1,10,10.0,2.333,3.0,5.75,5.0,-15.0,-15.0,0.0,NaN,NaN
5e8d923d20c9b7545017f1f9,1,100,100.0,2.941,17.0,11.00,50.0,78.0,78.0,9.0,NaN,NaN
5e6cb9806bab2075b2b64d15,1,100,100.0,3.000,3.0,12.00,11.0,-9.0,-9.0,1.0,NaN,NaN
5e8c98966642021100f8db13,1,100,100.0,3.034,29.0,12.00,75.0,84.0,84.0,28.0,NaN,NaN
5e537a4038654d5bb8db71b4,1,100,100.0,3.039,231.0,5.00,5.0,0.0,0.0,6.0,NaN,NaN
5e4a06cb57cc9b1700e826b3,2,200,100.0,3.186,43.0,8.00,26.0,70.0,70.0,14.0,1.0,50.0
5e54a05c207f9d3e6cee7040,2,200,100.0,3.188,32.0,7.00,26.0,74.0,74.0,10.0,NaN,NaN
5e61cd4b97cc101bd3066216,1,100,100.0,3.250,64.0,20.00,17.0,-17.0,-17.0,60.0,NaN,NaN
5e64b92e00ff3743cf8f3c3d,1,100,100.0,3.299,67.0,20.00,17.0,-17.0,-17.0,15.0,NaN,NaN
5e9c44cdf5b57cfb27118f62,1,100,100.0,3.338,269.0,3.66,26.0,86.0,86.0,10.0,NaN,NaN

In [11]:
### Ex-3-Task-5
portion_df = None
### Get the sorted dataframe for which rating is 4.041 and store in portion_df
### BEGIN SOLUTION 
# YOUR CODE HERE
portion_df = sorted_df[sorted_df['rating'] == 4.041]
### END SOLUTION

portion_df.head(10)  # Displaying the first 10 records of the portion dataframe

,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
merchantid,,,,,,,,,,,,
5810b1db3deb94160f5cd4a3,1,5000,5000.0,4.041,15436.0,6.0,6.0,0.0,0.0,616.0,NaN,NaN
58380161e18c0f0c70dd6907,1,5000,5000.0,4.041,14194.0,8.0,7.0,-14.0,-14.0,1248.0,NaN,NaN
53e98c6446188e1d4d3a38bd,1,1000,1000.0,4.041,4230.0,1.8,2.0,10.0,10.0,76.0,NaN,NaN
580c7d0a8b67fa197454a2d1,3,300,100.0,4.041,4705.0,6.0,6.0,0.0,0.0,27.0,1.0,33.0
5eba4bab58ed6ba265685ba1,2,200,100.0,4.041,123.0,8.0,10.0,20.0,20.0,58.0,1.0,50.0
5b4973b049c8e64e07c31cb4,1,100,100.0,4.041,267.0,9.0,49.0,82.0,82.0,109.0,NaN,NaN

### Data Types and Conversion

In [28]:
### Ex-4-Task-1

# the price of the product is upto 2 digit place. I want to convert it into int
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['price'] = df_product['price'].astype(int)
### END SOLUTION

print(df_product['price'].dtype)  # Checking the data type of price column
df_product.head(10)  # Displaying the first 10 records of the product dataframe to check the price column

int64

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantité limitée !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8,43,EUR,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,0,0,0,0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,XS,1,Livraison standard,3,0,36,50,1.0,Quantité limitée !,CN,hxt520,hxt520,86 % avis positifs (295 notes),295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8,8,EUR,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,0,0,0,0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,M,50,Livraison standard,2,0,41,50,NaN,NaN,CN,allenfan,allenfan,"(23,832 notes)",23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2,3,EUR,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,0,0,0,0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,S,1,Livraison standard,1,0,35,50,1.0,Quantité limitée !,CN,youngpeopleshop,happyhorses,"85 % avis positifs (14,482 notes)",14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08
5,Plus la taille d'été femmes décontracté sans m...,Plus Size Summer Women Casual Sleeveless Rompe...,3,9,EUR,10,0,5.00,1,1.0,0.0,0.0,0.0,0.0,0,0,0,0,"Deep V-Neck,Summer,Plus Size,Spaghetti Strap,O...",navyblue,Size-XS,1,Livraison standard,1,0,40,50,NaN,NaN,CN,zhoulinglinga,zhoulinglinga,75 % avis positifs (65 notes),65,3.507692,5e4b9c3801ba9d210036fc5a,0,NaN,https://www.wish.com/c/5ec645bafd107a02279c8c54,https://contestimg.wish.com/api/webimage/5ec64...,5ec645bafd107a02279c8c54,summer,2020-08
6,Women Fashion Loose Lace Blouse Blouse V Neck ...,Women Fashion Loose Lace Blouse V Neck Bat Sle...,7,6,EUR,50000,0,3.84,6742,3172.0,1352.0,971.0,490.0,757.0,0,0,0,0,"blouse,Women,lace t shirt,summer t-shirts,Lace...",white,XS,50,Livraison standard,2,0,31,50,NaN,NaN,CN,Unique Li Fashion Shop,uniquelifashionshopbb657bfe91d211e598c7063a14d...,"86 % avis positifs (10,194 notes)",10194,4.076516,5652f4053a698c76dc9a3f37,1,https://s3-us-west-1.amazonaws.com/sweeper-pro...,https://www.wish.com/c/5c63a337d5e2ce4bbb3152cf,https://contestimg.wish.com/api/webimage/5c63a...,5c63a337d5e2ce4bbb3152cf,summer,2020-08
7,Robe tunique ample femme Robe d'été Robe en je...,Women's Baggy Tunic Dress Summer Dress Denim D...,12,11,EUR,1000,0,3.76,286,120.0,56.0,61.0,18.0,31.0,0,0,0,0,"Jeans,Fashion,tunic,Shirt,Summer,Dress,Denim,s...",blue,M.,50,Livraison standard,3,0,139,50,NaN,NaN,CN,So Band,soband,(342 notes),342,3.681287,5d45349676befe65691dcfbb,0,NaN,https://www.wish.com/c/5e0ae5ebc2efb76ccf0a3391,https://contestimg.wish.com/api/webimage/5e0ae...,5e0ae5ebc2efb76ccf0a3391,summer,2020-08
8,Robe d'été décontractée à manches courtes pour...,Women's Summer Casual Dress Fashion Short Slee...,11,84,EUR,100,1,3.47,15,6.0,2.0,3.0,1.0,3.0,0,0,0,0,"slim dress,summer dress,womenshortsleevedre,Sl...",black,M,50,Livraison standard,2,0,36,50,1.0,Quantité limitée !,CN,chenxiangjunjun,chenxiangjunjun,82 % avis positifs (330 notes),330,3.803030,5d42980e8388970d32294ddc,0,NaN,https://www.wish.com/c/5e6f1fb7fe4a5bb4b8bf36e5,https://contestimg.wish.com/api/webimage/5e6f1...,5e6f1fb7fe4a5bb4b8bf36e5,summer,2020-08
9,"Femmes d'été, plus la taille décontractée lâch...",Summer Women Plus Size Casual Loose V Neck Sho...,5,22,EUR,5000,0,3.60,687,287.0,128.0,92.0,68.0,112.0,0,0,0,0,"blouse,Summer,Plus Size,Floral print,Necks,Sle...",beige,S,50,Livraison standard,2,0,33,50,NaN,NaN,CN,Luowei clothe,luoweiclothe,"85 % avis positifs (5,534 notes)",5534,3.999819,5ba2251b4315d12ebce873fa,0,NaN,https://www.wish.com/c/5ccfaf238a8d535cec2dfb47,https://contestimg.wish.com/api/webimage/5ccfa...,5ccfaf238a8d535cec2dfb47,summer,2020-08

In [29]:
### Ex-4-Task-2
# The datatype of the craw_month is Object type. I want to convert it to data time format and store it in same columns
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['crawl_month'] = pd.to_datetime(df_product['crawl_month'])
### END SOLUTION

print(df_product['crawl_month'].head())
print(df_product['crawl_month'].dtype)

0   2020-08-01
1   2020-08-01
2   2020-08-01
3   2020-08-01
4   2020-08-01
Name: crawl_month, dtype: datetime64[ns]
datetime64[ns]

## Data Selection and Filtering

### Selecting Columns and Rows

In [30]:
### Ex-5-Task-1
ser = None 

# Select a 'title' column from product dataframe and store in separate variables as series (ser)
### BEGIN SOLUTION 
# YOUR CODE HERE
ser = df_product['title']
### END SOLUTION

print(ser.head())  # Displaying the first 5 records of the series
print(type(ser))
print(type(ser))  # Checking the type of the series

0    2020 Summer Vintage Flamingo Print  Pajamas Se...
1    SSHOUSE Summer Casual Sleeveless Soirée Party ...
2    2020 Nouvelle Arrivée Femmes Printemps et Été ...
3    Hot Summer Cool T-shirt pour les femmes Mode T...
4    Femmes Shorts d'été à lacets taille élastique ...
Name: title, dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [31]:
### Ex-5-Task-2
product_price = None 
# Select multiple columns ('title', 'price', and 'retail price' ) from product dataframe and store in variable product_price.
### BEGIN SOLUTION 
# YOUR CODE HERE
product_price = df_product[['title', 'price', 'retail_price']]
### END SOLUTION

print(product_price.head())  # Displaying the first 5 records of the product_price dataframe

                                               title  price  retail_price
0  2020 Summer Vintage Flamingo Print  Pajamas Se...     16            14
1  SSHOUSE Summer Casual Sleeveless Soirée Party ...      8            22
2  2020 Nouvelle Arrivée Femmes Printemps et Été ...      8            43
3  Hot Summer Cool T-shirt pour les femmes Mode T...      8             8
4  Femmes Shorts d'été à lacets taille élastique ...      2             3

### Selection by labels and Selection by position

In [32]:
### Ex-5-Task-3
single_data = None
## Select a data of title column and at index 1572 of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
single_data = df_product.at[1572, 'title']
### END SOLUTION

print(single_data)  # Displaying the data at index 1572 of title column

Pantalon de yoga pour femmes à la mode Slim Fit Fitness Running Leggings

In [78]:
### Ex-5-Task-4
single_data = None
## Select a data of 6th column and at  5tj row of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
single_data = df_product.iloc[4, 5]
### END SOLUTION

print(single_data)

AttributeError: 'NoneType' object has no attribute 'iloc'

In [36]:
### Ex-5-Task-5
sliced_data = None 
## Select a portion of data frame with column name currency_buyer, units_sold, merchant_rating_count, merchant_rating and with index 100 to 200
### BEGIN SOLUTION 
# YOUR CODE HERE
sliced_data = df_product.loc[100:200, ['currency_buyer', 'units_sold', 'merchant_rating_count', 'merchant_rating']]
### END SOLUTION

print(sliced_data.head())  # Displaying the first 5 records of the sliced data
print(sliced_data.tail())  # Displaying the last 5 records of the sliced data
print(sliced_data.shape)  # Checking the shape of the sliced data

    currency_buyer  units_sold  merchant_rating_count  merchant_rating
100            EUR         100                    288         3.729167
101            EUR       10000                  54504         3.801684
102            EUR         100                     67         3.298507
103            EUR        5000                  99283         4.285598
104            EUR         100                    239         3.882845
    currency_buyer  units_sold  merchant_rating_count  merchant_rating
196            EUR        1000                   9341         4.147415
197            EUR       10000                  39381         4.066326
198            EUR        1000                   5048         4.159667
199            EUR        1000                   2377         4.063525
200            EUR        1000                   2996         4.348798
(101, 4)

In [37]:
### Ex-5-Task-6
sliced_data = None 
## Select a portion of data frame with 3rd to 8th columns and with rows 100 to 200 
# it must only include 100 rows and 7 columns 
### BEGIN SOLUTION 
# YOUR CODE HERE
sliced_data = df_product.iloc[100:200, 3:9]
### END SOLUTION
sliced_data.shape

(100, 6)

### Boolean Indexing and Conditional Filtering

In [39]:
### Ex-5-Task-7
mean = None
Q3 = None 
records = None 
# Find mean and 3rd quantile of the price from product dataframe and get all the records that lies between mean and Q3
### BEGIN SOLUTION 
# YOUR CODE HERE
mean = df_product['price'].mean()
Q3 = df_product['price'].quantile(0.75)

records = df_product[(df_product['price'] >= mean) & (df_product['price'] <= Q3)]
### END SOLUTION

print("Mean:", mean)
print("Q3:", Q3)
print("Records shape:", records.shape)
print(records[['title', 'price']].head())

Mean: 8.196439923712651
Q3: 11.0
Records shape: (328, 43)
                                                title  price
8   Robe d'été décontractée à manches courtes pour...     11
15  Mode d'été Flare Sleeve Plus Size T-shirt hors...     11
16  Nouvelle mode d'été pour femmes Robe sans manc...     11
18  Débardeur d'été 5 Couleurs Grandes Tailles été...      9
20  Top Maillot de bain Ensembles Mode Maillots de...     11

In [20]:
### Ex-5-Task-8
summer_product = None 
## Find all the row in product dataframe containing 'summer' keyword in its title. Make sure the string is lower to get all the records. 
### BEGIN SOLUTION 
# YOUR CODE HERE
summer_product = df_product[df_product['title'].str.lower().str.contains('summer')]
### END SOLUTION

print(summer_product[['title']].head())
print("Total 'summer' products found:", summer_product.shape[0])

                                                title
0   2020 Summer Vintage Flamingo Print  Pajamas Se...
1   SSHOUSE Summer Casual Sleeveless Soirée Party ...
3   Hot Summer Cool T-shirt pour les femmes Mode T...
14  2019 Summer Women's Fashion Nouvelle robe sans...
31  Sweet Beading Cami Débardeurs pour femmes Spag...
Total 'summer' products found: 294

## Handling Missing Data

In [40]:
### Ex-6-Task-1
count_na = None
# Count the number of null data in each columns
### BEGIN SOLUTION 
# YOUR CODE HERE
count_na = df_product.isnull().sum()
### END SOLUTION

print(count_na)  # Displaying the count of null values in each column

title                              0
title_orig                         0
price                              0
retail_price                       0
currency_buyer                     0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
product_color                     41
product_variation_size_id         14
product_variation_inventory        0
shipping_option_name               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
inventory_total                    0
has_urgency_banner              1100
urgency_text                    1100
origin_country                    17
merchant_title                     0
merchant_name                      4
merchant_info_subtitle             1
merchant_rating_count              0
merchant_rating                    0
merchant_id                        0
merchant_has_profile_picture       0
merchant_profile_picture        1347
product_url                        0
product_picture                    0
product_id                         0
theme                              0
crawl_month                        0
dtype: int64

In [42]:
### Ex-6-Task-2

# Impute the  product color with maximum occur value as it is the categorical columns 
# Impute the rating five count by mean and rating four count by median of respective columns
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['product_color'].fillna(df_product['product_color'].mode()[0], inplace=True)
df_product['rating_five_count'].fillna(df_product['rating_five_count'].mean(), inplace=True)
df_product['rating_four_count'].fillna(df_product['rating_four_count'].median(), inplace=True)
### END SOLUTION

print(df_product[['product_color', 'rating_five_count', 'rating_four_count']].isnull().sum())

product_color        0
rating_five_count    0
rating_four_count    0
dtype: int64

/tmp/ipykernel_260455/1581928363.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_product['rating_five_count'].fillna(df_product['rating_five_count'].mean(), inplace=True)
/tmp/ipykernel_260455/1581928363.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_product['rating_four_count'].fillna(df_product['rating_four_count'].median(), inplace=True)

## Data Cleaning

### Removing Duplicates

In [43]:
### Ex-7-Task-1
duplicate_count = None
df_drop_duplicate = None # store the data frame after removing duplicates 
# Count no. of duplicates value in product dataframe and drop all the duplicate values 
### BEGIN SOLUTION 
# YOUR CODE HERE
duplicate_count = df_product.duplicated().sum()
df_drop_duplicate = df_product.drop_duplicates()
### END SOLUTION

print("Number of duplicate rows:", duplicate_count)
print("Shape after dropping duplicates:", df_drop_duplicate.shape)

Number of duplicate rows: 34
Shape after dropping duplicates: (1539, 43)

## Data Transformation

### Applying Functions: Apply, map

In [44]:
### Ex-7-Task-2

df_sales['total_profit'] = None
# Calculate the total profit using apply function in pandas and save in total_profit column
# Formulae: total_profit = (mean product price - mean retail price) * total units sold
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales['total_profit'] = df_sales.apply(
    lambda row: (row['meanproductprices'] - row['meanretailprices']) * row['totalunitssold'], axis=1
)
### END SOLUTION

print(df_sales[['meanproductprices', 'meanretailprices', 'totalunitssold', 'total_profit']].head())

                          meanproductprices  meanretailprices  totalunitssold  \
merchantid
5357bcf2bb72c5504882e889               9.00              20.0          120000
5708773c3c02161b3f8c7900               7.76              34.2          107100
5417aada4ad3ab27e954b76c               8.00               8.0          100007
570f3a713a698c14278bb51e               5.67              19.0          100000
53082ea15aefb07dfe1f2a4f               5.00              33.0          100000

                          total_profit
merchantid
5357bcf2bb72c5504882e889    -1320000.0
5708773c3c02161b3f8c7900    -2831724.0
5417aada4ad3ab27e954b76c           0.0
570f3a713a698c14278bb51e    -1333000.0
53082ea15aefb07dfe1f2a4f    -2800000.0

### Binning and Categorizing Data

In [45]:
### Ex-7-Task-3
df_product['sales_category'] = None
# Divide the row into three category based on their units sold and save it into the sales_category column of produdct dataframe
# category are : low_sales, medium sales, and high sales 
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['sales_category'] = pd.cut(
    df_product['units_sold'],
    bins=3,
    labels=['low_sales', 'medium_sales', 'high_sales']
)
### END SOLUTION

print(df_product[['units_sold', 'sales_category']].head())
print(df_product['sales_category'].value_counts())

   units_sold sales_category
0         100      low_sales
1       20000      low_sales
2         100      low_sales
3        5000      low_sales
4         100      low_sales
sales_category
low_sales       1550
medium_sales      17
high_sales         6
Name: count, dtype: int64

## Data Aggregation and Grouping

### Groupby aggregation function

In [46]:
### Ex-8-Task-1

group_df = None 
# Create a group of low, medium and high sales and then calulcate, mean of price, median of retail price, min of units_sold and max of rating_five_count of each category
### BEGIN SOLUTION 
# YOUR CODE HERE
group_df = df_product.groupby('sales_category').agg({
    'price': 'mean',
    'retail_price': 'median',
    'units_sold': 'min',
    'rating_five_count': 'max'
})
### END SOLUTION

print(group_df)  # Displaying the grouped dataframe with aggregated values

                   price  retail_price  units_sold  rating_five_count
sales_category
low_sales       8.220000          10.0           1             5723.0
medium_sales    6.882353           8.0       50000            11548.0
high_sales      5.833333          23.5      100000            11184.0

/tmp/ipykernel_260455/3723653020.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_df = df_product.groupby('sales_category').agg({

In [47]:
### Ex-8-Task-2
group_df = None
## Calculate the Coefficient of Variation of each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
group_df = df_product.groupby('sales_category')['price'].agg(lambda x: np.std(x) / np.mean(x))
### END SOLUTION

print(group_df)

sales_category
low_sales       0.496639
medium_sales    0.442633
high_sales      0.208003
Name: price, dtype: float64

/tmp/ipykernel_260455/2129007465.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_df = df_product.groupby('sales_category')['price'].agg(lambda x: np.std(x) / np.mean(x))

In [48]:
### Ex-8-Task-3
df_product['price_zscore'] = None
## Calculate the Z_score of price for each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
def compute_z_score(group):
    mean = group['price'].mean()
    std = group['price'].std()
    group['price_zscore'] = (group['price'] - mean) / std
    return group

df_product = df_product.groupby('sales_category').apply(compute_z_score)
### END SOLUTION

print(df_product[['sales_category', 'price', 'price_zscore']].head())

                 sales_category  price  price_zscore
sales_category
low_sales      0      low_sales     16      1.905138
               1      low_sales      8     -0.053873
               2      low_sales      8     -0.053873
               3      low_sales      8     -0.053873
               4      low_sales      2     -1.523131

/tmp/ipykernel_260455/2029370446.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_product = df_product.groupby('sales_category').apply(compute_z_score)
/tmp/ipykernel_260455/2029370446.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_product = df_product.groupby('sales_category').apply(compute_z_score)

## Merging

In [49]:
### Ex-9-Task-1
merged_df = None
# Merge the sales and product dataframe and delete all the non common entries. Merge two dataframe based on merchant id.
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales.reset_index(inplace=True) 
merged_df = pd.merge(df_product, df_sales, how='inner', left_on='merchant_id', right_on='merchantid')
### END SOLUTION

print(merged_df.shape)
print(merged_df[['merchant_id', 'listedproducts', 'totalunitssold']].head())

(1573, 59)
                merchant_id  listedproducts  totalunitssold
0  595097d6a26f6e070cb878d1               1             100
1  56458aa03a698c35c9050988               6           21400
2  5d464a1ffdf7bc44ee933c65               3             120
3  58cfdefdacb37b556efdff7c               4           11100
4  5ab3b592c3911a095ad5dadb               3           20200

# Data Wrangling End to End

## Data Cleaning

#### Features and Columns 
The data was scraped in the french localisation (hence some non-ascii latin characters such as « é » and « à ») in the title column.

The title_orig on the other hand contains the original title (the base title) that is displayed by default. When a translation is provided by the seller, it appears in the title column. When the title and title_orig columns are the same, it generally means that the seller did not specify a translation that would be displayed to users with french settings.

A picture is worth a thousand words. In the following screenshot you see some features and how to interpret them.

![](wish_viz.jpg)

In [72]:
### Ex-10-Task-1
df = None 
# Read the product data frame with rating and performance 
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.read_csv('summer-products-with-rating-and-performance_2020-08.csv')
### END SOLUTION

print(df.shape)  # Displaying the shape of the dataframe
print(df.head())  # Displaying the first 5 records of the dataframe

(1573, 43)
                                               title  \
0  2020 Summer Vintage Flamingo Print  Pajamas Se...
1  SSHOUSE Summer Casual Sleeveless Soirée Party ...
2  2020 Nouvelle Arrivée Femmes Printemps et Été ...
3  Hot Summer Cool T-shirt pour les femmes Mode T...
4  Femmes Shorts d'été à lacets taille élastique ...

                                          title_orig  price  retail_price  \
0  2020 Summer Vintage Flamingo Print  Pajamas Se...  16.00            14
1   Women's Casual Summer Sleeveless Sexy Mini Dress   8.00            22
2  2020 New Arrival Women Spring and Summer Beach...   8.00            43
3  Hot Summer Cool T Shirt for Women Fashion Tops...   8.00             8
4  Women Summer Shorts Lace Up Elastic Waistband ...   2.72             3

  currency_buyer  units_sold  uses_ad_boosts  rating  rating_count  \
0            EUR         100               0    3.76            54
1            EUR       20000               1    3.45          6135
2            EUR         100               0    3.57            14
3            EUR        5000               1    4.03           579
4            EUR         100               1    3.10            20

   rating_five_count  rating_four_count  rating_three_count  rating_two_count  \
0               26.0                8.0                10.0               1.0
1             2269.0             1027.0              1118.0             644.0
2                5.0                4.0                 2.0               0.0
3              295.0              119.0                87.0              42.0
4                6.0                4.0                 2.0               2.0

   rating_one_count  badges_count  badge_local_product  badge_product_quality  \
0               9.0             0                    0                      0
1            1077.0             0                    0                      0
2               3.0             0                    0                      0
3              36.0             0                    0                      0
4               6.0             0                    0                      0

   badge_fast_shipping                                               tags  \
0                    0  Summer,Fashion,womenunderwearsuit,printedpajam...
1                    0  Mini,womens dresses,Summer,Patchwork,fashion d...
2                    0  Summer,cardigan,women beachwear,chiffon,Sexy w...
3                    0  Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...
4                    0  Summer,Plus Size,Lace,Casual pants,Bottom,pant...

  product_color product_variation_size_id  product_variation_inventory  \
0         white                         M                           50
1         green                        XS                           50
2  leopardprint                        XS                            1
3         black                         M                           50
4        yellow                         S                            1

  shipping_option_name  shipping_option_price  shipping_is_express  \
0   Livraison standard                      4                    0
1   Livraison standard                      2                    0
2   Livraison standard                      3                    0
3   Livraison standard                      2                    0
4   Livraison standard                      1                    0

   countries_shipped_to  inventory_total  has_urgency_banner  \
0                    34               50                 1.0
1                    41               50                 1.0
2                    36               50                 1.0
3                    41               50                 NaN
4                    35               50                 1.0

         urgency_text origin_country   merchant_title merchant_name  \
0  Quantité limitée !             CN         zgrdejia      zgrdejia
1  Quantité limitée !             CN        SaraHouse     sarahouse
2  Quantité limitée !             CN           hxt520        hxt520
3                 NaN             CN         allenfan      allenfan
4  Quantité limitée !             CN  youngpeopleshop   happyhorses

              merchant_info_subtitle  merchant_rating_count  merchant_rating  \
0                        (568 notes)                    568         4.128521
1  83 % avis positifs (17,752 notes)                  17752         3.899673
2     86 % avis positifs (295 notes)                    295         3.989831
3                     (23,832 notes)                  23832         4.020435
4  85 % avis positifs (14,482 notes)                  14482         4.001588

                merchant_id  merchant_has_profile_picture  \
0  595097d6a26f6e070cb878d1                             0
1  56458aa03a698c35c9050988                             0
2  5d464a1ffdf7bc44ee933c65                             0
3  58cfdefdacb37b556efdff7c                             0
4  5ab3b592c3911a095ad5dadb                             0

  merchant_profile_picture                                      product_url  \
0                      NaN  https://www.wish.com/c/5e9ae51d43d6a96e303acdb0
1                      NaN  https://www.wish.com/c/58940d436a0d3d5da4e95a38
2                      NaN  https://www.wish.com/c/5ea10e2c617580260d55310a
3                      NaN  https://www.wish.com/c/5cedf17ad1d44c52c59e4aca
4                      NaN  https://www.wish.com/c/5ebf5819ebac372b070b0e70

                                     product_picture  \
0  https://contestimg.wish.com/api/webimage/5e9ae...
1  https://contestimg.wish.com/api/webimage/58940...
2  https://contestimg.wish.com/api/webimage/5ea10...
3  https://contestimg.wish.com/api/webimage/5cedf...
4  https://contestimg.wish.com/api/webimage/5ebf5...

                 product_id   theme crawl_month
0  5e9ae51d43d6a96e303acdb0  summer     2020-08
1  58940d436a0d3d5da4e95a38  summer     2020-08
2  5ea10e2c617580260d55310a  summer     2020-08
3  5cedf17ad1d44c52c59e4aca  summer     2020-08
4  5ebf5819ebac372b070b0e70  summer     2020-08

There are total 43 columns. Let's try to reduce the number. 

#### Some considerations:
- Excluded product color and size because it's just showing the ones that were found in getting the data : there are more colors and sizes for each product so having just one for each category doesn't say much.
- Excluded currency used, as every price is in EUR
- Excluded shipping option, the "shipping_is_express" column is enough.
- Excluded product's and merchant's id's and pictures, that won't be needed.
- Use only original title

After removal of column, it must only have these columns. 

'title_orig', 'price', 'retail_price',
'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
'rating_five_count', 'rating_four_count', 'rating_three_count',
'rating_two_count', 'rating_one_count', 'badges_count',
'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
'tags', 'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
'inventory_total', 'has_urgency_banner',
'merchant_rating_count', 'merchant_rating',
'merchant_has_profile_picture'

In [73]:
### Ex-10-Task-2
df = pd.read_csv('summer-products-with-rating-and-performance_2020-08.csv')
df = df[['title_orig', 'price', 'retail_price',
        'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'shipping_option_price','shipping_is_express', 'countries_shipped_to',
        'has_urgency_banner','merchant_rating_count', 'merchant_rating','merchant_has_profile_picture',
        ]]

print(df.info())
print(df.isna().sum())
print(df['has_urgency_banner'].value_counts())
# Check the data frame information, total no. of null entries in each columns and has_urgency_banner columns counts
# After loading the data we se we have 1573 entries and some null values, let's see what some of them are about:
# - Exactly 45 for rating counts from 1 to 5 star, could it be that there are products with no ratings at all?
# - 1100 null values in the has urgency banner : the values there are 1's so the null values should be turned into 0's
# Now, Rename the columns 'has_urgency_banner' to 'is_running_out' and 'title_orig' to 'title' to make it more clear.
# **Fix the runing out column. fill all the null values with 0's.
### BEGIN SOLUTION 
# YOUR CODE HERE
df.rename(columns={
    'has_urgency_banner': 'is_running_out',
    'title_orig': 'title'
}, inplace=True)

df['is_running_out'].fillna(0, inplace=True)
### END SOLUTION

print(df['is_running_out'].isna().sum())  # Checking the null values in is_running_out column
print(df['is_running_out'].value_counts())  # Checking the value counts of is_running_out column
print(df['title'].isna().sum())  # Checking the null values in title column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title_orig                    1573 non-null   object
 1   price                         1573 non-null   float64
 2   retail_price                  1573 non-null   int64
 3   units_sold                    1573 non-null   int64
 4   uses_ad_boosts                1573 non-null   int64
 5   rating                        1573 non-null   float64
 6   rating_count                  1573 non-null   int64
 7   rating_five_count             1528 non-null   float64
 8   rating_four_count             1528 non-null   float64
 9   rating_three_count            1528 non-null   float64
 10  rating_two_count              1528 non-null   float64
 11  rating_one_count              1528 non-null   float64
 12  badges_count                  1573 non-null   int64
 13  badge_local_product           1573 non-null   int64
 14  badge_product_quality         1573 non-null   int64
 15  badge_fast_shipping           1573 non-null   int64
 16  tags                          1573 non-null   object
 17  shipping_option_price         1573 non-null   int64
 18  shipping_is_express           1573 non-null   int64
 19  countries_shipped_to          1573 non-null   int64
 20  has_urgency_banner            473 non-null    float64
 21  merchant_rating_count         1573 non-null   int64
 22  merchant_rating               1573 non-null   float64
 23  merchant_has_profile_picture  1573 non-null   int64
dtypes: float64(9), int64(13), object(2)
memory usage: 295.1+ KB
None
title_orig                         0
price                              0
retail_price                       0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
has_urgency_banner              1100
merchant_rating_count              0
merchant_rating                    0
merchant_has_profile_picture       0
dtype: int64
has_urgency_banner
1.0    473
Name: count, dtype: int64
0
is_running_out
0.0    1100
1.0     473
Name: count, dtype: int64
0

/tmp/ipykernel_260455/2407942429.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_running_out'].fillna(0, inplace=True)

#### Check if all the 45 null values for all rating columns belong to same product.
- Get the dataframe for which rating_five_count have null values
- Then, Count the no. of null values for four, three, two and one rating column.

Conclusion: As expected we see the null values in the rating are actually of the same 45 products

In [75]:
### Ex-10-Task-3

df[df['rating_five_count'].isna()][['rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count']].isna().sum()
df[df['rating_five_count'].isna()].head()
# They seem to be having a rating of 5 even with no ratings: we are going to change the rating and all the rating counts to 0
### BEGIN SOLUTION 
# YOUR CODE HERE
df.loc[df['rating_five_count'].isna(), ['rating', 'rating_five_count', 'rating_four_count', 'rating_three_count', 'rating_two_count', 'rating_one_count']] = 0
### END SOLUTION

## Data Exploration

```df['units_sold'].unique()```

It seems like they are all numbers approximated to their lower bound. So let's pretend they are divided in ranges like this:

- 10-100
- 100-1000
- 1000-5000
- 5000-10000
- 10000-20000
- 20000-50000
- 50000-100000
- 100000+

Let's define 3 performance characteristics:

- Average : 0-1000
- Successful: 1000-20000
- Very Successful 20000+

Find the percentage of product belongs to each category.
Steps:
1. First find the performance category and store in performance columns
2. Then, Calculate the percentage of product in each performance category

In [76]:
### Ex-10-Task-4
percentage_of_product_in_each_performance_category = None
### BEGIN SOLUTION 
# YOUR CODE HERE
def categorize_performance(units):
    if units <= 1000:
        return 'Average'
    elif units <= 20000:
        return 'Successful'
    else:
        return 'Very Successful'

df['performance'] = df['units_sold'].apply(categorize_performance)

percentage_of_product_in_each_performance_category = df['performance'].value_counts(normalize=True) * 100
### END SOLUTION

## Product Rating and Performance Comparision

Looking at the rating columns I notice two things:

- Some products have a rating count that's too low to be considered, let's only look at products with more than 150 ratings to try to have a fair result
- The rating of the products is a decimal number: let's create another column that categorizes each product into it's rating range.
    - columns are 
        1. < 1 if rating < 1
        2. 1-2 if rating >= 1 and rating < 2
        3. 2-3 if rating >= 2 and rating < 3
        4. 3-4 if rating >= 3 and rating < 4
        5. 4-5 if rating >= 4 and rating < 5
- Create pivot table with performance in index, raiting_range in column and no. of product as values

In [77]:
### Ex-10-Task-5
df_ratings = pd.DataFrame()  ## get records with rating_count > 100
df_ratings['rating_range'] = None
pivot_table = None
### BEGIN SOLUTION 
# YOUR CODE HERE

df_ratings = df[df['rating_count'] > 150].copy()

def get_rating_range(rating):
    if rating < 1:
        return '<1'
    elif rating < 2:
        return '1-2'
    elif rating < 3:
        return '2-3'
    elif rating < 4:
        return '3-4'
    else:
        return '4-5'

df_ratings['rating_range'] = df_ratings['rating'].apply(get_rating_range)

pivot_table = pd.pivot_table(df_ratings, 
                              index='performance', 
                              columns='rating_range', 
                              values='title', 
                              aggfunc='count', 
                              fill_value=0)
### END SOLUTION

This table shows that if the product have average rating of 3-4. THen, it is most likely to be successful product.